body {
  font: 18px "Verdana", sans-serif;
  background-color: #000000;
}

#content {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  width: 600px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 3px #ffffff;
  border-radius: 8px;
}

#link {
  color: #ffffff;
  text-align: center;
}

h2 {
  font: 26px "Verdana", sans-serif;
  text-align: center;
}

a :visited {
  color: #0000ff;
}

a :hover {
  font-size: 20px;
  text-decoration: underline;
}

a {
  color: #0000ff;
  text-decoration: none;
}

br {
  display: block;
  margin: 10px 0;
  content: " ";
}

.fw-advertisement {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 468px;
  height: 60px;
}
