body {
  font: 18px "Verdana", sans-serif;
  background-color: #000000;
}

.content {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 3px #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
}

.link {
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
}

.sayings a {
  width: 100%;
  margin-bottom: 16px;
  display: block;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

a:visited {
  color: #0000ff;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-size: 20px;
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
