body {
  font: 18px "Verdana", sans-serif;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

.sayings a {
  width: 100%;
  margin-bottom: 16px;
  display: block;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

a:visited {
  color: #0000ff;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-size: 20px;
}

